<canvas #canvas></canvas>
<section class="fields" [class.collapsed]="collapsed">
  <mat-card>
    <mat-card-header>
        <mat-card-title>{{ "Capacity Recharge" | translate:translation }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <mat-form-field>
        <input  matInput
                placeholder="{{ 'Ship Capacity' | translate:translation }} (GJ)"
                type="number"
                [(ngModel)]="capacity"
                autocomplete="off">
      </mat-form-field>

      <mat-form-field>
        <input  matInput
                placeholder="{{ 'Ship Recharge Time' | translate:translation }} (s)"
                type="number"
                [(ngModel)]="time"
                autocomplete="off">
      </mat-form-field>

      <mat-form-field>
        <input  matInput
                placeholder="{{ 'Total Cap Bonus From Skills' | translate:translation }} (%)"
                type="number"
                [(ngModel)]="skills"
                autocomplete="off">
      </mat-form-field>

      <mat-form-field>
        <mat-select [(ngModel)]="rig1" placeholder="Rig Slot">
          <mat-option *ngFor="let r of rigs" [value]="r[1]">{{ r[0] | translate:translation }} {{ r[1] }}%</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select [(ngModel)]="rig2" placeholder="Rig Slot">
          <mat-option *ngFor="let r of rigs" [value]="r[1]">{{ r[0] | translate:translation }} {{ r[1] }}%</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select [(ngModel)]="rig3" placeholder="Rig Slot">
          <mat-option *ngFor="let r of rigs" [value]="r[1]">{{ r[0] | translate:translation }} {{ r[1] }}%</mat-option>
        </mat-select>
      </mat-form-field>

      <p>Final Capacity: {{ finalCap }} GJ</p>
      <p>Final Recharge Time: {{ finalTime }} s</p>

      <div style="text-align:center; margin-top:20px">
        <button mat-raised-button color="primary"
                (click)="draw()">{{ 'Draw' | translate:translation }}</button>

        <button mat-raised-button color="secondary" style="margin-left:10px"
                (click)="collapsed = true">{{ 'Close' | translate:translation }}</button>

      </div>

    </mat-card-content>
  </mat-card>

</section>

<button mat-icon-button (click)="collapsed = false" class="expander">
  <mat-icon>more_vert</mat-icon>
</button>