<section class="preview">
  <div class="wrap">
    <canvas #canvas></canvas>
  </div>
</section>
<section #fields class="fields">

  <mat-form-field>
    <mat-label>Choose a pattern</mat-label>
    <mat-select [ngModel]="selected_pattern_name" (ngModelChange)="change_pattern($event)">
      <mat-option *ngFor="let entry of pattern_entries" [value]="entry[0]">{{ entry[0] }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngFor="let field of pattern?.fields">
    <mat-label>{{ field.label }}</mat-label>
    <input matInput [ngModel]="query[field.name]" (ngModelChange)="change_params(field.name, $event)" type="number" [placeholder]="field.place_holder ?? ''">
    <span matTextSuffix>{{ field.unit }}</span>
  </mat-form-field>

</section>