<canvas #canvas></canvas>
<section class="fields">
  <mat-card>
    <mat-card-header>
        <mat-card-title>Turrent Tracking</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <mat-form-field>
        <input matInput placeholder="Velocity (m/s)" type="number" [(ngModel)]="velocity" autocomplete="off">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Tracking" type="number" [(ngModel)]="tracking" autocomplete="off">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Optimal Range (km)" type="number" [(ngModel)]="optimal" autocomplete="off">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Accuracy Falloff (km)" type="number" [(ngModel)]="falloff" autocomplete="off">
      </mat-form-field>

      <div style="text-align:center; margin-top:20px">
        <button mat-raised-button color="primary" (click)="draw()">Draw</button>
      </div>

    </mat-card-content>
  </mat-card>

</section>
