<canvas #canvas></canvas>
<section class="bottom">
  <mat-form-field>
    <input  matInput
            type="number"
            placeholder="boost"
            [ngModel]="boost"
            (ngModelChange)="updateBoost($event)" />
  </mat-form-field>
  <mat-slider min="-0.9"
              max="0.9"
              step="0.01"
              [ngModel]="boost"
              (input)="updateBoost($event.value)"
              ></mat-slider>
</section>
<section class="left">
  <div>
    <button mat-raised-button color="accent" (click)="openScenarioDialog()">scenarios</button>
  </div>
  <div>
    <button mat-raised-button color="accent" (click)="openOffsetDialog()">offset</button>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="openEventDialog()">add event</button>
    <button mat-raised-button color="primary" (click)="openTravellerDialog()">add traveller</button>
  </div>
  <div *ngIf="detail">
    <ul class="events">
      <li *ngFor="let e of events; let i = index">
        <span [style.color]="e.style">
          {{ e.st.s.toFixed(3) }},
          {{ e.st.t.toFixed(3) }}
        </span>
        <button mat-icon-button color="accent" (click)="events.splice(i, 1); updateCanvas()">
          <mat-icon>delete</mat-icon>
        </button>
      </li>
    </ul>
    <ul class="travellers">
      <li *ngFor="let t of travellers; let i = index">
        <span [style.color]="t.style">
          ({{ t.origin.s.toFixed(3) }}, {{ t.origin.t.toFixed(3) }}),
        </span>
        <span *ngIf="t.velocity != null" [style.color]="t.style">{{ t.velocity }}, </span>
        <span *ngIf="t.destination != null" [style.color]="t.style">
          ({{ t.destination.s.toFixed(3) }}, {{ t.destination.t.toFixed(3) }})
        </span>
        <button mat-icon-button color="accent" (click)="travellers.splice(i, 1); updateCanvas()">
          <mat-icon>delete</mat-icon>
        </button>
      </li>
    </ul>
  </div>
</section>