<h1 mat-dialog-title>Traveller</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="from s" type="number" [(ngModel)]="data.fromS">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="from t" type="number" [(ngModel)]="data.fromT">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="velocity" type="number" [(ngModel)]="data.velocity">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="to s" type="number" [(ngModel)]="data.toS">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="to t" type="number" [(ngModel)]="data.toT">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="style" [(ngModel)]="data.style">
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
